[Unit]
Description=Serving application only with uwsgi 

[Service] 
ExecStart=/usr/bin/uwsgi --http 0.0.0.0:80 --wsgi-file application.py --callable app --processes 4 --threads 2 --stats 0.0.0.0:9191
ExecStop=echo "nothing"

[Install] 
WantedBy=multi-user.target
